@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #f88d6a; /* Brand Orange */
  --color-secondary: #1a4a3c; /* Brand Green */
  --color-accent: #fdf6ef; /* Brand Beige */
  --color-neutral: #212121; /* Brand Black */
  --color-base-100: #ffffff; /* White */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
